<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Products List</h2>
  <a
    routerLink="/register-product"
    class="btn btn-success"
    *ngIf="hideWhenNoProduct"
  >
    Add Product
  </a>
</div>
<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No product" />
  </div>
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-product.svg" class="nodata-msg" alt="No product" />
    <p class="nodata-msg">No product added yet!</p>
    <a routerLink="/register-product" class="btn btn-success"> Add Product </a>
  </div>
  <div class="table-responsive" *ngIf="hideWhenNoProduct">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col">Product Title</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Images</th>
          <th scope="col">Seller Id</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of Product
              | paginate : { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <td>{{ product.title }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.price }}</td>
          <td><img src="{{ product.images }}" width="100px" /></td>
          <td>{{ product.sellerId }}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-product/{{ product.id }}"
              >Edit</span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deleteProduct(product)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
